body{
    background-color: #FFF2C6 ;
    font-family: monospace;
}
 input{
    background-color: #FFF8DE;
    width: 400px;
    height: 20px;
    font-family:monospace
    font-size: medium;
}
button{
    background-color: #8CA9FF;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.Add{
    font-family: monospace;
}
.reset{
    font-family: monospace;
}
.choice{
    font-family:monospace
}
.choices{
    color: #0b41a6;
}
#options{
    font-size: large;
}
#display{
    font-size:22px;
}




