body{
    background-color: #FFF2C6 ;
    font-family: monospace;
}
 input{
    background-color: #FFF8DE;
    width: 300px;
    height: 20px;
    font-family:monospace;
    font-size: medium;
    margin-bottom: 10px;
}
button{
    background-color: #8CA9FF;
    border-radius: 60px;
    height: 30px;
    width: 60px;
    
}
.Add{
    font-family: monospace;
}
.reset{
    font-family: monospace;
}
.choice{
    font-family:monospace
}
.choices{
    color: #0b41a6;
}
#options{
    font-size: large;
}
#display{
    font-size:22px;
}









